Flask
Flask-Login
Flask-SQLAlchemy
Flask-WTF
Flask-Limiter[redis]
Flask-Migrate
flask-mail
itsdangerous
PyGithub
unidiff
requests
python-dotenv
openai
google-generativeai
XlsxWriter
pandas
psycopg2-binary
redis